* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

body {
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 80px;

    display: flex;
}

section {
    flex: 1;
    display: flex;
}

aside {
    background-color: white;
    width: 80px;
}

main {
    flex: 1;
    padding: 30px;
}

.brand {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand img {
    width: 30%;
}

.header-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    padding: 0px 30px;
}

.search {
    display: flex;
    align-items: stretch;
}

.search-input {
    background-color: aliceblue;
    padding: 10px 20px;
}

.search-input .icon {
    color: rgb(142, 142, 142);
}

.search-input input {
    width: 300px;
    border: none;
    background: none;
}

.search-input input:focus {
    outline: none;
}

.search-btn {
    background-color: rgb(29, 79, 241);
    color: white;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.5s 0s ease;
}

.search-btn:hover {
    background-color: rgb(20, 57, 182);
    cursor: pointer;
}

.search-btn:active {
    transform: scaleY(0.95);
}

.item {
    position: relative;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.5s 0s ease;
}

.badge {
    position: absolute;
    background-color: crimson;
    width: 5px;
    height: 5px;
    top: 5px;
    right: 5px;
    border-radius: 50%;
}

.item:hover {
    background-color: aliceblue;
}